<div class="container">

  <h1>Body Mass Index</h1><br>

  <p><b>Body Mass Index (BMI)</b> is a measure of the amount of fat in a human body. It is a single numeric value with
    the following interpretation:</p><br>

  <table>
    <tr>
      <td> <b> Underweight </b> </td>
      <td>Less than 18</td>
    </tr>
    <tr>
      <td> <b> Normal </b> </td>
      <td>18-25</td>
    </tr>
    <tr>
      <td> <b> Overweight </b> </td>
      <td>25-30</td>
    </tr>
    <tr>
      <td> <b> Over 30 </b> </td>
      <td>More than 30</td>
    </tr>
  </table><br>

  <p>Use the calculator below to calculate your BMI.</p><br>

  <label for="height">Height</label>
  <input type="number" id="height" [(ngModel)]="height">
  <p>Height in centimeters.(cm).</p><br>

  <label for="weight">Weight</label>
  <input type="number" id="weight" [(ngModel)]="weight">
  <p>Height in kilograms(kg).</p><br>

  <label for="bmi">BMI is </label>
  <input type="number" id="bmi" [ngModel]="bmic | number : '1.0-2'" readonly>
</div>